{% include "recipes/partials/head.html" %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
        <title>{% block title %}home{% endblock title %}</title>
</head>
<body>
    {% include "recipes/partials/header.html" %}
    {% include "recipes/partials/search.html" %}
    {% block category %}{% endblock category %}
    <main class="main-content-container">
        {% block home %}{% endblock home %}
    </main>
    <footer>
        {% include "recipes/partials/footer.html" %}
    </footer>
</body>