{% if request.user.is_authenticated %}
    <div class="login-message">
        You are already logged in with
        {{ request.user.username }},
        <a class='dashboardback' href="{% url 'authors:dashboard' %}">Go to dashboard</a>, or
        <form class="inline-form" action="{% url 'authors:logout' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="username" value="{{ request.user.username }}">
            <button class="plaintext-button" type="submit">Click here to logout.</button>
        </form>
    </div>

{% endif %}