
:root {
    --color-primary: #269fe6;
    --color-primary-hover: #2086c2;
    --color-primary-dark: #13141f;
    --color-primary-dark-hover: #212336;
    --color-primary-light: #d4ecfa;
    --color-primary-light-hover: #bdd8e7;

    --color-white: #fff;
    --color-black: #000;

    --color-dark-text: #444;
    --color-info-light: #cce5ff;
    --color-debug-light: #cce5ff;
    --color-success-light: #d4edda;
    --color-alert-light: #fff3cd;
    --color-warning-light: #fff3cd;
    --color-error-light: #f8d7da;

    --color-info-dark: #4d86c4;
    --color-debug-dark: #4d86c4;
    --color-success-dark: #4a9c5d;
    --color-alert-dark: #927f40;
    --color-warning-dark: #927f40;
    --color-error-dark: #da525d;

    --color-gray-0: #f9f9f9;
    --color-gray-1: #e0e0e0;
    --color-gray-2: #c7c7c7;
    --color-gray-3: #aeaeae;
    --color-gray-4: #959595;
    --color-gray-5: #7d7d7d;
    --color-gray-6: #646464;
    --color-gray-7: #4b4b4b;
    --color-gray-8: #323232;
    --color-gray-9: #191919;

    --font-primary: sans-serif;
    --font-headings: 'Roboto Slab', serif;

    --spacing-gutter-medium: 3rem;
    --spacing-gutter-large: 4rem;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--color-gray-1);
    font-size: 1.6rem;
    font-family: var(--font-primary);
    color: var(--color-dark-text);
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--font-headings);
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 144rem;
    margin: 0 auto;
    padding: var(--spacing-gutter-medium);
}

.main-header-container {
    background: var(--color-primary-dark);
}

.main-logo {
    font-size: 4rem;
    color: var(--color-white);
    text-decoration: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}

.main-logo-icon {
    margin-right: 2rem;
}

.search-form{
    max-width: 64rem;
    margin: 0 auto;
    border: .2rem solid var(--color-primary-dark);
    border-radius: .4rem;
    position: relative;
    transition: all 300ms ease-in-out;
}

.search-form:focus-within {
    border-color: var(--color-primary);
    background: var(--color-white);
}
.search-form:focus-within .search-button{
    color: var(--color-primary);
    background: var(--color-white);
}

.search-input,
.search-button {
    background: none;
    border: none;
    outline: none;
    padding: 1rem;
    transition: all 300ms ease-in-out;
}

.search-input {
    width: 100%;
    color: var(--color-dark-text);
    padding-right: 5rem;
}

.search-button{
    position: absolute;
    right: 0;
}
.search-button:focus {
    outline: 1px solid var(--color-primary);
    background: rgba(57, 75, 180, 0.59);
}



.main-content {
    padding-top: 0;
}


.main-content-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: var(--spacing-gutter-large);
}

.recipe {
    background: var(--color-white);
    box-shadow: -5px 5px 10px rgba(0, 0, 0, .2);
    transform: scale(1);
    transition: all 300ms ease-in-out;
    border-radius: .4rem;
    overflow: hidden;
    margin: 0 auto;
}

.recipe-cover {
    width: 100%;
    overflow: hidden; /* Contém a imagem dentro da div */
    border-radius: 8px; /* Opcional: bordas arredondadas */
}



.recipe-list-item {
    max-width: 64rem;
    height: fit-content;
}

.recipe-list-item:hover {
    transform: scale(1.02);
}

.recipe-title-container {
    padding: var(--spacing-gutter-medium);
    padding-bottom: 2rem;
    text-decoration: none;
    color: var(--color-dark-text);
}

.recipe-title-container a {
    text-decoration: none;
    color: var(--color-primary-dark);
}

.recipe-author {
    padding: 0 var(--spacing-gutter-medium);
}

.recipe-content {
    padding: var(--spacing-gutter-medium);
    padding-top: 2rem;
}

.recipe-author-item {
    color: var(--color-gray-4);
    margin-right: 1rem;
    font-style: italic;
    font-size: 1.4rem;
}

.recipe-author a {
    color: var(--color-primary-dark);
    transition: all 300ms ease-in-out;
    text-decoration: none;
}

.recipe-author a:hover {
    color: var(--color-primary);
}

.recipe-meta-container {
    display: flex;
    flex-flow: row wrap;
    padding: var(--spacing-gutter-medium);
    background: var(--color-gray-1);
}

.recipe-meta {
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 1;
    flex-grow: 1;
    text-align: center;
}

.recipe-meta-title {
    font-size: 1.6rem;
}

.recipe-footer {
    flex: 1;
    margin: 0;
    padding: 0;
    line-height: 0; /* Remove espaço de linha residual */
}


.recipe-footer a {
    background: var(--color-primary-dark);
    display: block;
    color: var(--color-white);
    text-decoration: none;
    text-align: center;
    padding: 1.5rem var(--spacing-gutter-medium);
    transition: all 300ms ease-in-out;
    
}

.recipe-footer a:hover {
    filter: brightness(2);
}



.recipe-footer a:hover {
    filter: brightness(2);
}


.main-content-detail .recipe-list-item {
    max-width: 84rem;
    margin: 0 auto;   
}
.main-content-detail .recipe-list-item:hover {
    transform: scale(1);
    box-shadow: -5px 5px 15px rgba(0, 0, 0, .2);
}
.not_found_center {
   max-width: 64rem;
    margin: 0 auto;
    position: relative;
    align-items: center;
}

.preparation-steps {
    padding: var(--spacing-gutter-medium);
}

.main-footer {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    background: var(--color-primary-dark);
    color: var(--color-white);
    padding: var(--spacing-gutter-large);

}

.main-footer a {
    color: var(--color-white);
    text-decoration: none;
    transition: all 300ms ease-in-out;
}

.main-footer a:hover {
    filter: brightness(0.5);
}

.category-title {
    max-width: 64rem;
    margin: 0 auto;
    position: relative;
    align-items: center;
}

.category-title-show {
    padding: 4px;
    border: .2rem solid var(--color-primary-dark);
    border-radius: .4rem;
    
}

.pagination-content {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem 0.5rem;
}


.pagination .page-item {
    text-decoration: none;
    background: var(--color-gray-3);
    padding: 0.5rem 1rem;
}

.pagination .page-link {
    text-decoration: none;
    background: var(--color-primary);
    color: var(--color-white);
}

.pagination .page-current {
    background: var(--color-primary-dark-hover);
}

.message {
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid var(--color-dark-text);
  background: var(--color-gray-2);
  color: var(--color-dark-text);
}

.message-error {
  border: 1px solid var(--color-error-dark);
  background: var(--color-error-light);
  color: var(--color-error-dark);
}

.message-success {
  border: 1px solid var(--color-success-dark);
  background: var(--color-success-light);
  color: var(--color-success-dark);
}

.message-warning {
  border: 1px solid var(--color-warning-dark);
  background: var(--color-warning-light);
  color: var(--color-warning-dark);
}

.message-info {
  border: 1px solid var(--color-info-dark);
  background: var(--color-info-light);
  color: var(--color-info-dark);
}

.message-debug {
  border: 1px solid var(--color-debug-dark);
  background: var(--color-debug-light);
  color: var(--color-debug-dark);
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.m-x {
  margin: 0 var(--spacing-gutter-medium);
}

.m-y {
  margin: var(--spacing-gutter-medium) 0;
}

.hidden-text {
  display: none;
}


.form-content {
    max-width: 64rem;
    margin: 0 auto;
    margin-bottom: var(--spacing-gutter-medium);
}

.span-2 {
    grid-column: span 2;
}

.form-content label {
    display: block;
    margin: 0.5rem 0;
    font-size: 1.4rem;
}

.help-text, .errorlist {
    font-size: 1rem;
    color: var(--color-gray-5);
    font-style: italic;
}

.form-content input, textarea, select {
    width: 100%;
    padding: 1rem;
    border-radius: .4rem;
    border: 1px solid var(--color-primary-dark);
}

.form-content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: calc(var(--spacing-gutter-medium) / 2);
}

.form-content button {
    background: var(--color-black);
    color: var(--color-white);
    border: none;
    padding: 1rem 2rem;
    border-radius: .4rem;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.dashboardback{
    color: var(--color-primary);
    text-decoration: none;
    font-size: 1.6rem;
}

.inline-form {
    display: inline;
}


.plaintext-button {
    display: inline;
    border: none;
    background: none;
    color: var(--color-primary);
    cursor: pointer;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 0;
}

.login-message {
    margin-top: var(--spacing-gutter-medium);
    font-size: 1.4rem;
    color: var(--color-gray-6);
}

.authors-dashboard-container {
    max-width: 64rem;
    text-align: left;
    padding: var(--spacing-gutter-medium);
    margin: 0 auto;
}

.authors-dashboard-container h3, p, ul {
    list-style-type: none;
    margin: 1rem 0; 
}

.left {
  text-align: left;
}

.CreateRecipeDashboard {
    background: var(--color-primary);
    color: var(--color-white);
    padding: 1rem 2rem;
    border-radius: .4rem;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    margin-top: 2rem;
}

.hidden-text {
    display: none;
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 260px;
  min-height: 100vh;
  overflow-y: auto;
  background: var(--color-primary);
  z-index: 2;
  transition: all 300ms ease-in-out;
}

.menu-container a {
  color: var(--color-white);
}

.menu-hidden {
  left: -255px;
}

.button-show-menu {
  position: fixed;
  left: 265px;
  top: 2rem;
  color: var(--color-white);
  background-color: var(--color-primary);
  border: none;
  font-size: 2rem;
  z-index: 3;
  padding: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: all 300ms ease-in-out;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.button-show-menu-visible {
  visibility: visible;
  opacity: 1;
  left: 5px;
}

.button-close-menu {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--color-white);
  background: none;
  border: none;
  font-size: 2rem;
  z-index: 3;
  cursor: pointer;
}

.menu-nav {
  display: flex;
  flex-flow: column wrap;
  font-family: var(--font-headings);
  font-size: 2rem;
}

.menu-nav a {
  width: 100%;
  padding: 1rem;
}

@media (max-width: 768px) {
    .main-content-list,
    .form-content-grid {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
}